.loginContainer {
    background-color: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
    position: relative
  }
  
  h1 {
    margin-bottom: 20px;
    color: #333;
    font-size: 2rem;
  }
  
  input[type="text"],
  input[type='number'],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    box-sizing: border-box;
  }
  
  input[type="text"]:focus,
  input[type="password"]:focus {
    border-color: #007bff;
    outline: none;
  }
  
  button {
    background-color: #007bff;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    margin-bottom: 20px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  p {
    margin-top: 10px;
    font-size: 1rem;
    color: #555;
  }
  .error{
    color:red;
    font-size:12px
  }
  button:disabled{
    background-color: #ccc;
    cursor: not-allowed;
  }
  .PhoneInputInput{
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    box-sizing: border-box;

  }
  .loginContainer .bottom-link p {
    margin-right: 5px; /* Space between the text and link */
    font-size: 14px;
    color: #555;
  }
  
  .loginContainer .bottom-link a {
    font-size: 14px;
    color: #007bff;
    text-decoration: none;
  }
  
  .loginContainer .bottom-link a:hover {
    text-decoration: underline;
  }